// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-primary-0: #486C9B;  /* Main Primary color */
$color-primary-1: #A1B9D7;
$color-primary-2: #6D8DB7;
$color-primary-3: #2F5687;
$color-primary-4: #1B406F;

$color-secondary-1-0: #ECCE62;  /* Main Secondary color (1) */
$color-secondary-1-1: #FFF0B8;
$color-secondary-1-2: #FFE78E;
$color-secondary-1-3: #CEAE3C;
$color-secondary-1-4: #A98B1D;

$color-secondary-2-0: #EC9562;  /* Main Secondary color (2) */
$color-secondary-2-1: #FFD3B8;
$color-secondary-2-2: #FFB88E;
$color-secondary-2-3: #CE723C;
$color-secondary-2-4: #A9511D;

@mixin fonty($size) {
    font-family: Helvetica, sans-serif;
    font-size: $size;
    font-weight: 200;
    font-style: normal;
}

body {
  @include fonty(14pt);
  background-color: $color-primary-0;
  color: white;

  #header {
    @include fonty(20pt);
    position: relative;
    background-color: $color-primary-4;
    color: $color-secondary-1-1;
    width: 80%;
    left: 10%;
    padding: 10px;
    border: 1px solid $color-secondary-1-0;
    border-radius: 10px;
    text-align: center;
  }

  #main {
    position: relative;
    top: 10px;
    width: 80%;
    left: 10%;
    background-color: $color-primary-2;
    color: $color-secondary-2-1;
    padding: 10px;
  }
}

